.slick-dots {
  display: none;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 0;
  top: 0px;
  margin: 8px;
  border-radius: 4px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}

.bm-menu {
  background-color: white;
}

a#contact.bm-item.menu-item {
  color: black;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-top: 24px;
  padding-left: 20px;
}

a#contact.bm-item.menu-item:active {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
}

.fas.fa-search {
  left: 95%;
  position: absolute;
  top: 25%;
}

a#contact.bm-item.menu-item:focus,
a#contact.bm-item.menu-item:focus-within {
  color: black;
  font-size: 14px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  outline-color: white;
}

.bm-burger-bars {
  background-color: white;
}

.inputBox {
  position: absolute;
  top: 45%;
  width: 50%;
  left: 25%;
  font-family: "Poppins", sans-serif;
}

.inputBox .form-control {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  border-radius: 0px;
}

.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.img-responsive {
  height: auto;
  width: 100%;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
  .content {
    margin: 1rem;
  }
}

.brand-card {
  display: inline-flex !important;
  justify-content: center;
  img {
    height: 130px;
    width: 240px;
  }
}

.footer-brand-logo {
  bottom: 60px;
  left: 40%;
  width: 200px;
  position: absolute;
}

.brand-logo-bottom {
  img {
    height: auto;
    width: 240px;
  }
}

.brand-card:hover {
  box-shadow: 1px 1px 1px 1px #d4d4d4;
}

.footer-contents {
  position: absolute;
  width: 100%;
  h3 {
    font-size: 16px;
    color: #282828;
    font-family: "Poppins", sans-serif;
    color: white !important;
  }
  .get-in-touch {
    bottom: 80px;
    left: 15%;
    position: absolute;
  }
  .get-the-app {
    bottom: 80px;
    right: 15%;
    color: white !important;
    font-family: "Poppins", sans-serif;

    position: absolute;
  }
}

.bottom-nav {
  font-size: 10px !important;
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  position: absolute;
  bottom: 0;
}

.slick-next:before,
.slick-prev:before {
  font-size: 15px !important;
  line-height: 1;
  color: #3e3e3e;
}

.slick-arrow.slick-prev {
  background: white !important;
  top: -10px;
  left: 92%;
  color: rgb(84, 84, 84);
}
.slick-arrow.slick-next {
  background: white !important;
  top: -10px;
  left: 92%;
  color: rgb(84, 84, 84);
}

.slick-arrow.slick-next::before {
  background: white;
  top: -10px;
  left: 92%;
  color: rgb(84, 84, 84);
}

.slick-prev:before,
.slick-next:before {
  font-family: "";
  font-size: 20px;
  line-height: 1;
  color: #3e3e3e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cat-images {
  display: flex;

  img {
    // width: 320px;
    height: 220px;
  }
}

.al-it-center {
  text-align: center;
}

.first-row-card-scroll-padding-l-r {
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
}

.nomargin {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.footer {
  margin-top: 30px;
  height: 180px;
  img {
    width: 100%;
    height: 100%;
  }
}

.shoe-card {
  display: inline-flex !important;
  justify-content: center;
  // padding: 8px;
  img {
    height: 280px;
    width: 250px;
  }
}

.up-rel-card {
  display: inline-flex !important;
  justify-content: center;
  img {
    height: 180px;
    width: 250px;
  }
}

.trending {
  padding-left: 24px;
  padding-top: 30px;
  h3 {
    font-size: 18px;
    color: #282828;
    font-family: "Gentium Basic", serif;
    font-weight: bolder;
  }
}

.top-fluid-image {
  height: 280px;
  background-image: url("../assets/Group_2668.png");
}

.main-header {
  background-color: #f2f2f2;
  color: #282828;
  font-family: "Gentium Basic", serif;
  text-align: center;
  h1 {
    font-size: 22px;
  }
}

.main-header-padding {
  padding: 16px 220px;
}

.logo {
  width: 60px;
  left: 0;
  top: 0;
  position: absolute;
  height: 30px;
  margin: 30px;
}

.navbar-at-right {
  top: 0;
  position: absolute;
  right: 0;
}

.navbar-li-conf {
  font-size: 10px !important;
  font-family: "Poppins", sans-serif;
  color: white !important;
}

.bg-light {
  background-color: black !important;
}

@media (min-width: 700px) and (max-width: 880px) {
  .main-header-padding {
    padding: 16px 100px;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .main-header-padding {
    padding: 16px 20px;
  }
}

@media (min-width: 200px) and (max-width: 499px) {
  .main-header-padding {
    padding: 16px 0px;
  }
  .get-in-touch {
    display: none;
  }
  .get-the-app {
    display: none;
  }
  .contents {
    display: block;
    text-align: center;
  }
  .contents .content {
    display: block;
    margin: 4px;
  }
  .bottom-nav {
    bottom: 30px;
  }
  .fas.fa-search {
    left: 85%;
    position: absolute;
    top: 25%;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .logo {
    width: 60px;
    left: 0;
    top: 0;
    position: absolute;
    height: 30px;
    margin: 30px;
    img {
      height: 100%;
    }
  }
  .top-fluid-image {
    max-width: 100%;
    img {
      height: 270px;
    }
  }
}

@media (min-width: 280px) and (max-width: 990px) {
  .al-it-center {
    text-align: center;
    // padding: 8px;
    margin-bottom: 10px;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  .nav-item {
    font-weight: bold;
  }
  .navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
  }
  .navbar-toggler {
    background-color: white !important;
    border: white !important;
  }
  .navbar-at-right {
    // width: 100%;
    // text-align: center;
    display: none;
  }
  .nav-item:hover {
    border-bottom: 1px solid white;
  }
  .bm-menu-wrap {
    height: 100% !important;
  }
  // .inputBox {
  //   display: none;
  // }
}

@media (min-width: 500px) and (max-width: 989px) {
  .fas.fa-search {
    left: 90%;
    position: absolute;
    top: 25%;
  }
}

@media (min-width: 769px) and (max-width: 5000px) {
  .ham-menu {
    display: none;
  }
}
